* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alegreya Sans", sans-serif;
  font-family: "Kalam", cursive;
}

body {
  background: aliceblue;
  min-height: 100vh;
  overflow-x: hidden;
}

.main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#Hello {
  position: absolute;
  font-size: 5em;
  top: 22%;
  color: #285728;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.main img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}

#bird {
  width: 50px;
  left: 5%;
  top: 30%;
}

#palm1 {
  left: 63%;
  width: 650px;
  top: -2%;
}

#backback {
  top: -65%;
}

#blurb1,
#blurb1 p {
  margin-top: 20%;
  padding: 20%;
  text-align: center;
  font-family: "Ysabeau Office", sans-serif;
  font-size: 20px;
  color: #316931;
  line-height: 200%;
}

.holder {
  margin: 10px;
  width: 300px;
  height: 200px;
  background-image: url(Temp.jfif);
  background-position: center center;
  box-shadow: 1px -1px 15px #18542af3;
}

.image {
  width: 50%;
}

.innerpalm {
  width: 30%;
}

.rotated {
  position: relative;
  top: 35.5%;
  right: -39%;
}

#items {
  margin-top: 20%;
  overflow-x: hidden;
}

#wics {
  display: inline-block;
  width: 40%;
  text-align: center;
  position: relative;
  top: 45%;
}

#images1,
#images11,
#images111,
#images1111 {
  position: relative;
  left: -28%;
}

#images2,
#images22,
#images222,
#images2222,
#projImage {
  position: relative;
  right: -28%;
}

.activity {
  position: relative;
  top: 300px;
}

#specTitle,
#specTitle2,
#specTitle3,
#specTitle4 {
  display: inline-block;
  max-width: 40%;
  text-align: center;
  color: #285728;
  height: fit-content;
  padding-right: 3%;
  padding-left: 3%;
}

#itself,
#itself11,
#itself111,
#itself1111,
.projectTitle {
  font-size: 75px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

#itself2,
#itself22,
#itself222,
#itself2222,
.projectDesc {
  font-family: sans-serif;
  font-size: 15px;
}

#navbar {
  z-index: 12;
  margin: 1%;
  position: absolute;
  top: 0;
  left: 0;
}

#navbar.fixed {
  position: fixed;
  top: 0;
  left: 0;
}

#spotify.fixed {
  position: fixed;
  top: 0;
  right: 0;
}

.links {
  font-family: "Ysabeau Office", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #316931;
}

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
  position: relative;
  top: -90%;
}

.project {
  display: inline;
  margin: 2%;
}

#projText {
  max-width: 40%;
  text-align: center;
  overflow: hidden;
  color: #285728;
}

.projImage {
  width: 350px;
  height: 200px;
  background-position: center center;
  box-shadow: 1px -1px 15px #18542af3;
}

#weatherMate {
  background-image: url(Projects/check-overlay.jpg);
  background-size: 400px;
  position: relative;
  right: -40%;
}

#versehunt {
  background-image: url(Projects/blank2-overlay.jpg);
  background-size: 400px;
  position: relative;
  left: -40%;
}

#Peek {
  background-image: url(Projects/overlay.jpg);
  background-size: 400px;
  position: relative;
  right: -40%;
}

#copyright {
  margin-left: 20%;
}

#listsCont {
  margin-right: 20%;
  width: 28%;
}

#bottom li,
#bottom a {
  font-family: "Ysabeau Office", sans-serif;
  color: #285728;
  margin: 15%;
}

#bottom ul li:first-child {
  font-weight: bold;
  font-size: 20px;
}

#bottom {
  color: #285728;
  background: rgba(172, 224, 172, 0.178);
  height: 210px;
  margin-bottom: 5%;
  margin-top: 30%;
}

.actLists {
  font-size: 17px;
  font-weight: 550;
}

iframe {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  margin: 1%;
  z-index: 1;
}

@media (min-width: 1500px) {
  #hello {
    margin-top: 900px;
  }
  #images1,
  #images11,
  #images111,
  #images1111 {
    left: -25%;
  }
  #images2,
  #images22,
  #images222,
  #images2222 {
    right: -25%;
  }

  #weatherMate,
  #Peek {
    right: -30%;
  }

  #versehunt {
    left: -25%;
  }

  #items {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .About .activity {
    top: 0;
  }

  .About {
    padding-top: 20%;
  }
}
